@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
    margin-left: 4px;
    margin-right: 4px; 
}

window#waybar {
    border-radius: 0px;
    background: @background;
    color: @foreground;
}

tooltip {
    background: @background;
    border-radius: 0px;
}

#workspaces button {
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid @background;
}

#workspaces button:nth-child(1) {color: @red;}
#workspaces button:nth-child(2) {color: @green;}
#workspaces button:nth-child(3) {color: @yellow;}
#workspaces button:nth-child(4) {color: @blue;}
#workspaces button:nth-child(5) {color: @magenta;}
#workspaces button:nth-child(6) {color: @cyan;}
#workspaces button:nth-child(7) {color: @red;}
#workspaces button:nth-child(8) {color: @green;}
#workspaces button:nth-child(9) {color: @yellow;}
#workspaces button:nth-child(10) {color: @blue;}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.empty {
    color: @bg2;
}

#workspaces button.focused {
    background: transparent;
    border-bottom: 1px solid @foreground;
}

#workspaces button.urgent {
    color: @red;
    background: @background;
}

.focused #workspaces button.focused {
    color: @foreground;
    border-bottom: 1px solid @foreground;
}

.urgent #workspaces button {
    color: @red;
}

#workspaces button:hover {
    background: @background;
    color: @gray;
    box-shadow: inherit;
    text-shadow: inherit;
}

#window,
#clock,
#scratchpad,
#battery,
#pulseaudio,
#network,
#workspaces,
#custom-launcher,
#custom-weather,
#custom-idle,
#tray,
#backlight
{
    padding: 5px 5px;
}

#custom-launcher {
  color: @blue;
}

#custom-weather {
  color: @yellow;
}

#custom-idle {
  color: @yellow;
}

#custom-idle.inhibited {
  color: @orange;
}

#pulseaudio {
  color: @blue;
}

#pulseaudio.muted {
  color: @red;
}

#battery {
  color: @green;
}

#mpd {
  color: @cyan;
}

#backlight {
  color: @magenta;
}

#power-profiles-daemon {
  color: @cyan
}
